<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">My Portfolio</h1>
            <p class="lead text-body-secondary">"The future belongs to those who believe in the beauty of their dreams." - Eleanor Roosevelt</p>
                <%= link_to 'Find Out More About Me', about_me_path, class: 'btn btn-primary' %>
                <%= link_to 'My Blog', blogs_path, class: 'btn btn-secondary' %>
            </p>
        </div>
    </div>
</section>
