<h1>About Me</h1>

<hr>

<div class="row">
  <div class="col-md-5">
    <%= image_tag "profile.jpg", width: 300, alt: "profile image" %>
  </div>

  <div class="col-md-7">
    <p>I am a highly motivated and ambitious software developer with a passion for web development. My primary focus has been on front-end technologies such as JavaScript, React, and Redux, and I am also expanding my skillset to include back-end development with technologies like MongoDB, Mongoose, Postgresql, and Ruby. </p>
    <p>Through my experience in remote software development programs like Microverse, I have developed skills in research, communication, and leadership, which are essential for any software developer. I am always eager to learn new things and try out different technologies to continuously improve my skills and stay up-to-date with the latest developments in the field. </p>
    <p>I am a reliable and dedicated developer who is committed to providing quality work and excellent communication throughout the development process. If you are interested in working with someone like me, please don't hesitate to reach out.</p>
  </div>
</div>

