<main class="px-3">
    <h1>Welcome.</h1>
    <p class="lead">Experience is the best teacher, and my time as a developer has taught me invaluable skills that will serve me well in my future career. I'm committed to finding the right job where I can continue to grow and develop as a professional.</p>
    <p class="lead">
        <%= link_to "About me", about_me_path, class: "btn btn-lg btn-light fw-bold border-white bg-white" %>
    </p>
</main>


