<div class="inner cover">
  <h1 class="cover-heading">Tech News</h1>

  <div class='row'>
    <% @articles.each do |article| %>
      <div class='col-md-6'>
        <div class="tech-news">
          <div class='card'>
            <h3> <%= article[:title] %> </h3>
            <a target="_blank" href="<%= article[:url]%>" ><%= article[:url] %></a>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
